* {
    background-color: rgb(9, 8, 8);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

img {
    display: block;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 45%;
}

p {
    text-align: left;
    padding-left: 100px;
    padding-right: 800px;
}
